version: "3.0"
networks:
  default:
    external:
      name: host
services:
  commodore:
    build: .
    image: docker.io/projectsyn/commodore:latest
    env_file: .env
    user: "${USER_ID:-0}"
    volumes:
      - ~/.ssh/:/app/.ssh/:ro
      - ~/.gitconfig:/app/.gitconfig:ro
      - ./:/app/data
    working_dir: /app/data
