[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"

[packages]
click = "*"
cookiecutter = "*"
GitPython = "*"
kapitan = "==v0.26.0-rc.1"
requests = "*"
url-normalize = "~=1.4"

[requires]

[scripts]
commodore = "python -m commodore"
build_kapitan_helm_binding = "./tools/build_kapitan_helm_binding.sh"
