[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
autopep8 = "*"

[packages]
click = "*"
cookiecutter = "*"
GitPython = "*"
kapitan = "*"
requests = "*"
url-normalize = "~=1.4"

[requires]

[scripts]
commodore = "python -m commodore"
build_kapitan_helm_binding = "./tools/build_kapitan_helm_binding.sh"
autopep = "autopep8 --in-place --aggressive --recursive --verbose ./"
local_reveal = "./tools/reveal.sh"
compile = "kapitan compile -J . dependencies/ --refs-path ./catalog/refs"
test = "docker run -it --rm -v $PWD:/src:ro -v $PWD/.tox:/app/.tox docker.io/painless/tox"
