[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
autopep8 = "*"

[packages]
click = "*"
# Until we get sane kapitan dependencies
cookiecutter = "==1.7.0"
GitPython = "*"
kapitan = "*"
requests = "*"
url-normalize = "~=1.4"

[requires]

[scripts]
commodore = "python -m commodore"
build_kapitan_helm_binding = "./tools/build_kapitan_helm_binding.sh"
autopep = "autopep8 --in-place --aggressive --recursive --verbose ./"
local_reveal = "./tools/reveal.sh"
compile = "kapitan compile -J . dependencies/ --refs-path ./catalog/refs"
test = "tox"
update_requirements = "tox -e requirements"
