[tool.poetry]
name = "syn-commodore"
version = "v0.0.0"
description = "Commodore provides opinionated tenant-aware management of Kapitan inventories and templates. Commodore uses Kapitan for the heavy lifting of rendering templates and resolving a hierachical configuration structure."
readme = "README.md"
authors = ["VSHN AG <info@vshn.ch>"]
license = "BSD-3-Clause"
homepage = "https://github.com/projectsyn/commodore"
documentation = "https://syn.tools/commodore/index.html"
packages = [
    {include = "commodore"}
]
include = [
    "commodore/component-template/**/*",
    "commodore/lib/commodore.libjsonnet",
    "commodore/filters/helm_namespace.jsonnet",
]

[tool.poetry.dependencies]
python = ">=3.8, <3.11"
kapitan = "0.30.0"
click = "^8.1.2"
cookiecutter = "^1.7.3"
# Kapitan requires exactly 3.1.24
gitpython = "3.1.24"
# Kapitan requires exactly 2.26.0
requests = "2.26.0"
url-normalize = "^1.4.3"
python-dotenv = "^0.20.0"
importlib-metadata = "^4.11.3"
pyxdg = "^0.27"

[tool.poetry.dev-dependencies]
tox = "^3.25.0"
autopep8 = "^1.6.0"
pytest = "^7.1.1"
pytest-xdist = "^2.5.0"
pytest-benchmark = "^3.4.1"
responses = "^0.20.0"
black = "^22.3.0"
pyfakefs = "^4.5.6"
pytest-cov = "^3.0.0"
pylint = "^2.13.5"

[tool.poetry.scripts]
commodore = 'commodore.cli:main'
autopep = 'tools.tools:autopep'
local_reveal = 'tools.tools:reveal'
compile = 'tools.tools:compile'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.coverage.run]
omit = [
    "commodore/component-template/*"
]

[tool.coverage.report]
omit = [
    "commodore/component-template/*"
]
