[tool.poetry]
name = "syn-commodore"
version = "v0.0.0"
description = "Commodore provides opinionated tenant-aware management of Kapitan inventories and templates. Commodore uses Kapitan for the heavy lifting of rendering templates and resolving a hierachical configuration structure."
readme = "README.md"
authors = ["VSHN AG <info@vshn.ch>"]
license = "BSD-3-Clause"
homepage = "https://github.com/projectsyn/commodore"
documentation = "https://syn.tools/commodore/index.html"
packages = [
    {include = "commodore"}
]
include = [
    "commodore/lib/commodore.libjsonnet",
    "commodore/filters/helm_namespace.jsonnet",
]

[tool.poetry.dependencies]
python = ">=3.8, <3.11"
kapitan = "0.30.0"
click = "8.1.3"
cookiecutter = "2.1.1"
# Kapitan requires exactly 3.1.24
gitpython = "3.1.24"
# Kapitan requires exactly 2.26.0
# We explicitly request to use chardet on python3, so Poetry doesn't update
# chartdet to v5.
requests = {version = "2.26.0", extras = ["use_chardet_on_py3"]}
url-normalize = "1.4.3"
python-dotenv = "0.20.0"
importlib-metadata = "4.12.0"
pyxdg = "0.28"
# Reenable dependency cruft once our patches are merged.
# In the meantime we add typer as a top-level dependency since Cruft depends
# on it.
# cruft = {branch="patched-update", git="https://github.com/projectsyn/cruft.git"}
typer = "0.6.1"
# Kapitan requires exactly 3.1.1
oauthlib = "3.1.1"
# Kapitan requires exactly 2.1.0
pyjwt = "2.1.0"
PyGithub = "1.55"

[tool.poetry.dev-dependencies]
tox = "3.25.1"
pytest = "7.1.2"
pytest-xdist = "2.5.0"
pytest-benchmark = "3.4.1"
responses = "0.21.0"
black = "22.6.0"
pyfakefs = "4.6.3"
pytest-cov = "3.0.0"
pylint = "2.15.0"
types-toml = "0.10.8"
examples = "1.0.2"
pytest-mock = "^3.8.2"

[tool.poetry.scripts]
commodore = 'commodore.cli:main'
local_reveal = 'tools.tools:reveal'
compile = 'tools.tools:compile'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
